@model IEnumerable<Drogueria1._1_.Models.Farmacium>

@{
    ViewData["Title"] = "Farmacias";
}

<div class="container mt-4">
    <h1>@ViewData["Title"]</h1>
    <p>
        <a asp-action="Create" class="btn btn-primary">Crear</a>
    </p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Código</th>
                <th>Nombre</th>
                <th>Dirección</th>
                <th class="text-center">Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdSucursal)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NombreSucursal)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DireccionSucursal)
                    </td>
                    <td class="text-center">
                        <a asp-action="Edit" asp-route-id="@item.IdSucursal" class="btn btn-sm btn-primary">Editar</a>
                        <a asp-action="Details" asp-route-id="@item.IdSucursal" class="btn btn-sm btn-secondary">Detalles</a>
                        <a asp-action="Delete" asp-route-id="@item.IdSucursal" class="btn btn-sm btn-danger">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>