@model IEnumerable<Drogueria1._1_.Models.Ubicacion>

@{
    ViewData["Title"] = "Ubicaciones";
}

<div class="container mt-4">
    <h1>@ViewData["Title"]</h1>
    <hr />
    <div class="row">
        <div class="col-md-8">
            <p>
                <a asp-action="Create" class="btn btn-primary">Crear</a>
            </p>
            <table class="table">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Descripción</th>
                        <th class="text-center">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.IdUbicacion)</td>
                            <td>@Html.DisplayFor(modelItem => item.Descripcion)</td>
                            <td class="text-center">
                                <a asp-action="Edit" asp-route-id="@item.IdUbicacion" class="btn btn-sm btn-primary">Editar</a>
                                <a asp-action="Details" asp-route-id="@item.IdUbicacion" class="btn btn-sm btn-secondary">Detalles</a>
                                <a asp-action="Delete" asp-route-id="@item.IdUbicacion" class="btn btn-sm btn-danger">Eliminar</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
